*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;

    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: snow;
}

.buscar{
    position: absolute;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}